.color-boxes {
    display: flex;
    justify-content: space-between;
}

.konst-a {
    background-color: #ebebe8;
    color: $font-color;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

.konst-b {
    background-color: #282828;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-alternative-color;
}

.konst-c {
    background-color: #b3cdce;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-alternative-color;
}

.konst-d {
    background-color: #f3cc78;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-alternative-color;
}

.konst-e {
    background-color: #f3c5de;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-alternative-color;
}

.visual-a {
    background-color: #1d1d1d;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-alternative-color;
}

.visual-b {
    background-color: #00aeef;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-alternative-color;
}

.visual-c {
    background-color: #000;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-alternative-color;
}

.visual-d {
    background-color: #e5e5e5;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-color;
}

.visual-e {
    background-color: #fff;
    border: outset;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-color;
}

.arbets-a {
    background-color: #93996b;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-alternative-color;
}

.arbets-b {
    background-color: #2d5980;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-alternative-color;
}

.arbets-c {
    background-color: #a6b9c5;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-alternative-color;
}

.arbets-d {
    background-color: #ffc230;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-alternative-color;
}

.arbets-e {
    background-color: #252525;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    color: $font-alternative-color;
}
