@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'report';
@import 'technologies';
@import 'technology';
@import 'analysis';
@import 'gallery';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import 'code';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT&display=swap');

* {
    font-family: 'Old Standard TT', serif;
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    color: $font-color;
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', cursive;
    margin: 0.6em auto;
    font-weight: bold;
    color: $accent-color;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    color: $font-color;

}

.hidden {
    display: none !important;
}

.main {
    margin: 10px auto;
    width: 80%;
    flex: 1 0 auto;
}

.header,
.site-header {
    display: flex;
    justify-content: center;
    background-color: $background-alternative-color;
}

.titel {
    color: $font-alternative-color;
}

.title,
.logo {
    padding: 3em 3em 3em 0;
    width: 40%;
}

@media (max-width: 800px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }
}

.title p {
    margin: 0;
    font-style: italic;
}

.nav li:first-child {
    color: $font-alternative-color;
}

.nav li:last-child {
    color: $font-alternative-color;
}

.nav li:first-child:hover {
    background-color: $accent-color;
    color: $font-color;
}

.nav li:last-child:hover {
    background-color: $accent-color;
    color: $font-color;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 20px;
    margin-top: 40px;
    background-color: $background-alternative-color;
}

.footer .social {
    font-size: 2rem;
}

.bild-text {
    display: flex;
    border-radius: 50%;
}

.bild-text img {
    filter: grayscale(100%);
}

img {
    max-width: 100%;
    padding: 20px;
}

@media (max-width: 600px) {
    .bild-text {
        display: block;
    }
}

.tech-box {
    border: solid $font-alternative-color 0.2rem;
}
