/* technologies.scss */
.container {
    display: grid;
}

.container h1 {
    grid-column: span 3;
    justify-self: center;
}

.tech-box {
    height: 20vh;
    background-color: $background-alternative-color;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech-box a {
    font-size: 2em;
    color: $font-alternative-color;
}

.css {
    grid-column: span 1;
    padding: 2rem;
}

.html {
    grid-column: span 2;
    padding: 2rem;
}

.javascript {
    grid-column: span 2;
    padding: 2rem;
}

.php {
    grid-column: span 1;
    padding: 2rem;
}

.python {
    grid-column: span 3;
    padding: 2rem;
}

.git {
    grid-column: span 1;
    padding: 2rem;
}

.sqlite {
    grid-column: span 2;
    padding: 2rem;
}

@media screen and (max-width: 800px) {
    .container h1 {
        grid-column: span 2;
    }

    .tech-box {
        height: 15vh;
        border-radius: 20%;
    }
    
    .tech-box a {
        font-size: 1.7em;
    }

    .css {
        grid-column: span 1;
        padding: 1.5rem;
    }
    
    .html {
        grid-column: span 1;
        padding: 1.5rem;
    }
    
    .javascript {
        grid-column: span 2;
        padding: 1.5rem;
    }
    
    .php {
        grid-column: span 1;
        padding: 1.5rem;
    }
    
    .python {
        grid-column: span 1;
        padding: 1.5rem;
    }
    
    .git {
        grid-column: span 2;
        padding: 1.5rem;
    }
    
    .sqlite {
        grid-column: span  2;
        padding: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .container h1 {
        grid-column: span 1;
    }

    .tech-box {
        height: 10vh;
        border-radius: 20%;
        text-align: center;
    }
    
    .tech-box a {
        font-size: 1.5em;
    }

    .css {
        grid-column: span 1;
        padding: 1rem;
    }
    
    .html {
        grid-column: span 1;
        padding: 1rem;
    }
    
    .javascript {
        grid-column: span 1;
        padding: 1rem;
    }
    
    .php {
        grid-column: span 1;
        padding: 1rem;
    }
    
    .python {
        grid-column: span 1;
        padding: 1rem;
    }
    
    .git {
        grid-column: span 1;
        padding: 1rem;
    }
    
    .sqlite {
        grid-column: span  1;
        padding: 1rem;
    }
}
