$font-color: #000;
$font-alternative-color: #fff;
$accent-color: rgb(191, 36, 67);
$background-alternative-color: rgb(241, 202, 240);
$background-color: rgb(255, 252, 215);

$background-alternative-color-dark: #1c1c1c;
$background-color-dark: rgb(45, 40, 46);
$accent-color-dark: #8f71a1;
