$font-color: #000;
$font-alternative-color: #fff;
$accent-color: rgb(255, 64, 102);
$background-alternative-color: rgb(215, 165, 244);
$background-color: rgb(255, 252, 215);

$background-alternative-color-dark: #6a6a6a;
$background-color-dark: #000;
$accent-color-dark: #61357a;
